GOERLI_API_URL = "https://eth-goerli.g.alchemy.com/v2/n8GLPWnK-BtaC87wg8ODBnJxXqDmpPUm"
GOERLI_WSS = "wss://eth-goerli.g.alchemy.com/v2/n8GLPWnK-BtaC87wg8ODBnJxXqDmpPUm"
PRIVATE_KEY = ""
ORIGIN_CONTRACT_ADDRESS = "0x7aCa572e7DE1F380261F33528825E46Cc603B85e"
DEST_CONTRACT_ADDRESS = "0xef4c597986a2241D5fED9aadcb4E33a24e2D5483"