GOERLI_API_URL = "https://eth-goerli.g.alchemy.com/v2/n8GLPWnK-BtaC87wg8ODBnJxXqDmpPUm"
GOERLI_WSS = "wss://eth-goerli.g.alchemy.com/v2/n8GLPWnK-BtaC87wg8ODBnJxXqDmpPUm"
PRIVATE_KEY = ""
ORIGIN_CONTRACT_ADDRESS = "0x837b2ccBCBD124fad4f75F5242911643572CA00A"
DEST_CONTRACT_ADDRESS = "0x36b94B0B476f362dd69d9b70dA708462bE4017F7"