GOERLI_API_URL = "https://eth-goerli.g.alchemy.com/v2/n8GLPWnK-BtaC87wg8ODBnJxXqDmpPUm"
GOERLI_WSS = "wss://eth-goerli.g.alchemy.com/v2/n8GLPWnK-BtaC87wg8ODBnJxXqDmpPUm"
PRIVATE_KEY = ""
ORIGIN_CONTRACT_ADDRESS = "0x828143b0Fa95204b9E7EFd956fdA85de054C3DB0"
DEST_CONTRACT_ADDRESS = "0x5c866850131346c878183d938572950dBB2d193B"